RSS_DISCORD_FEED_NAME=Example Blog
RSS_DISCORD_FEED_URL=https://example.com/feed.xml
RSS_DISCORD_WEBHOOK_URL=https://discord.com/api/webhooks/YOUR_ID/YOUR_TOKEN
RSS_DISCORD_COLOR=3447003
RSS_DISCORD_INTERVAL_MINUTES=5
